[submodule "code/containers"]
	path = code/containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = https://github.com/ReproNim/containers.git
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds004996.git
	datalad-id = 7a1eb430-8e31-4409-a87d-4ed1dcb0f0c6
	datalad-url = https://github.com/OpenNeuroDatasets/ds004996.git
